@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import "../../src/styles/application";


.course-preview h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #303031;
}

.course-preview h2 {
  letter-spacing: 1px;
  margin: 10px 0;
  color: #303031;
}

.course-preview {
  background-color: white;
  color: #303031;
  padding: 30px;
  overflow: hidden;
  border: 4px solid #303031;
  box-shadow: 15px 15px #71A894;
  border-radius: 16px
}

.course-preview p {
  color: #303031;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.view-more-btn {
  color: #71A894;
  text-decoration: none;
  font-weight: 600;
}

@include forTabletPortraitUp {
  .view-more-btn {
    width: 40%;
  }
}