@import "../../src/styles/application";

.video-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-decoration: none;
}

.video-card--preview {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.video-card--preview-content {
  font-size: 14px;
  color: white;
  padding: 5px;

}

.video-card--title {
  color: $greyColorDark;
  margin-top: 10px;
}

.video-card-time {
  background-color: $greyColorDark;
}