@import "../../src/styles/application";
@import "../../components/formations/FormationCard";

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-list {
  padding: 20px 0;
}

.title-page-formations {
  font-size: 30px;
}

.formations-list {
  display: flex;
  padding: 50px 0;
  width: 90%;
  margin: auto;
}
.empty-div {
  height: 56px;
}
.formation-container {
  display: block;
  height: 500px;
}

.modules {
  width: 100%;
  padding: 50px 20px;
}
@include forTabletPortraitUp {
  .formation-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 700px;
  }

  .modules {
    width: 60%;
    padding: 50px 30px;
  }
}