@import "../../../src/styles/common/colors";
@import "../../../src/styles/common/mixins";

.premium-account-invoices-list {
  background-color: #3A3B3C;
  border-radius: 7px;
  padding: 30px;
  border-collapse: collapse;
  width: 100%;
  color: white;
  margin-top: 30px;
}
.premium-account-invoices-list--section {
  overflow: scroll;
  margin-top: 20px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.premium-account-invoices-list--section--title {
  margin-top: 0;
  color: white;
  margin-left: 20px;
}

.premium-account-invoices-list--table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
}

.fa-download {
  color: white;
}

.premium-account-invoices-list--table--header {
  border-bottom: 2px solid $greyColor;
}

.premium-account-invoices-list--table--header--cell {
  width: 25%;
  padding: 10px;
  text-align: center;
}

.premium-account-invoices-list-item--table--body--row:not(:last-child) {
  border-bottom: 1px solid $greyColor;
  width: 90%;
}

.premium-account-invoices-list-item--table--body--cell {
  padding: 10px;
  text-align: center;
}

.premium-account-invoices-list-item--table--body--cell--button {
  @include buttonAppearanceReset;
}