body {
  background-color: #121212;
}

.banner-presentation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.left-banner-presentation {
  width: 30%;
}

.right-banner-presentation {
  background-image: url("../../../../assets/images/kids_playing_illustration.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 30%;
}

.formations-presentation {
  width: 100%;
}

.formations-content {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: white;
  opacity: 80%;
}

.ressources-presentation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.left-ressources-presentation {
  width: 30%;
}

.right-ressources-presentation {
  background-image: url("../../../../assets/images/learning.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 30%;
}
