.pf {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pf-american-express:before {
  content: "\f001";
}

.pf-credit-card:before {
  content: "\f012";
}

.pf-diners:before {
  content: "\f013";
}

.pf-discover:before {
  content: "\f014";
}

.pf-jcb:before {
  content: "\f028";
}

.pf-mastercard:before {
  content: "\f02d";
}

.pf-visa:before {
  content: "\f045";
}
