@import "../../../../../../src/styles/common/mixins";

.loader-card-article-large {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  min-height: 300px;
}

.loader-white-container {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: white;
}
