@import "../../../src/styles/application";

.module-container {
  background-color: white;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 10px;
  border: 3px solid #71A894;
}

.module-container-top-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #303031;
  opacity: 80%;
  & > * {
    width: 90%;
  }
}

.module-container-top-infos span {
  font-size: 16px;
  color: #303031;
  opacity: 80%;
}

.module-description {
  font-size: 16px;
  color: grey;
}

.view-more {
  width: 100%;
  border-top: 2px solid #303031;
  display: flex;
  justify-content: center;
}

.custom-arrow-fa {
  color: #303031;
  opacity: 80%;
}

.zoom-btn {
  background-color: transparent;
  padding: 15px 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  width: 100%;
  margin: auto;
}

.special-zoom {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.module-zoom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fa-video {
  margin-right: 10px;
}

@include forTabletPortraitUp {
  .module-container-top-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    & > * {
      width: 33%;
    }
  }

  .zoom-btn {
    width: 50%;
  }
}