@import "../../../src/styles/application";

.headline-articles-container {
  width: 90%;
  margin: auto;
  padding: 30px 0 0;
}

.articles-container {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  padding: 50px 0;
  & > * {
    width: 33%;
  }
}
.following-articles-container {
  width: 90%;
  margin: auto;
}

.following-articles {
  display: block;
  border-top: 2px solid white;
  padding: 50px 0;
}

.following-articles-content {
  padding: 30px 0 50px;
}

.title-page-articles {
  font-size: 30px;
}

@include forTabletPortraitUp {
  .following-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > * {
      width: 25%;
    }
    padding: 50px 0;
  }
}