@import "../../../src/styles/application";

.title-page {
  font-size: 40px;
}

.videos-content {
  padding: 20px;
}

.videos-container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  border-top: 3px solid black;
}

.videos-cards {
  display: block;
}

@include forTabletPortraitUp {
  .videos-cards {
    display: flex;
    justify-content: space-between;
    & > * {
      width: 23%;
    }
  }
}