@import "../../src/styles/application";
@import "../../components/Buttons/Button.scss";

.page-container {
  margin: auto;
}

.empty-auth-div {
  height: 90px;
}

.page-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.form-infos-container {
  width: 90%;
  padding: 15px;
  margin: auto;
}

.form-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  color: #2D3748;
  input {
    border: 2px solid white;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
  }
  span {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0;
    margin: 0;
    color: white;
    opacity: 80%;
  }
}

.signup-link {
  color: #71A89E;
  text-decoration: none;
}

.bottom-text {
  width: 100%;
  color: white;
  opacity: 80%;
  display: block;
  margin-top: 20px;
  margin-right: 10px;
}

.log-submit {
  @include btnMainRed;
  padding: 15px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
}

@include forTabletLandscapeUp {
  .empty-div {
    width: 0;
  }
  .page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    min-height: 80vh;
  }
  .page-infos {
    width: 40%;
    margin: auto;
  }

  .form-infos-container {
    width: 40%;
  }

  .bottom-text {
    display: flex;
  }
}