@import "../common/colors";

.paymentForm {
  background-color: #fff;
}

.paymentForm_Row {
  display: -ms-flexbox;
  display: flex;
}

.paymentForm_Row__Halves {
  justify-content: space-between;
}

.paymentForm_Field {
  position: relative;
  width: 100%;
  height: 50px;
}

.paymentForm_Field.paymentForm_Field__HalfWidth {
  width: 48%;
}

.paymentForm_Field.quarter-width {
  width: calc(25% - 10px);
}

.paymentForm_Baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.paymentForm_Label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


.paymentForm input, .paymentForm_ButtonSubmit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  margin: 20px 0;
}

.paymentForm .StripeElement--webkit-autofill {
  background: transparent !important;
}

.paymentForm input, .paymentForm_ButtonSubmit {
  -webkit-animation: 1ms void-animation-out;
}

span.paymentForm_Input_Brand {
  width: 30px;
  position: absolute;
  bottom: 10px;
  right: 0;
  color: $greyColorDark;
  margin-right: 5px;
}

.paymentForm_Terms {
  margin: 30px 0;

  > * {
    display: flex;
  }
}

.paymentForm_Terms_Link {
  color: $redColor;
}

.paymentForm_Secure {
  text-align: center;
  margin-top: 20px;
}

.paymentForm_Secure_Link {
  display: block;
}

.paymentForm_Secure_Image {
  max-width: 340px;
  width: 100%;
}