@import "../../../src/styles/application";

.course-view-left {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/4861362/pexels-photo-4861362.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.course-view-header {
  position: absolute;
  background-color: white;
  color: #303031;
  padding: 50px 30px;
  width: 90%;
  top: 35%;
  right: 8%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #303031;
  box-shadow: 15px 15px #71A894;
  border-radius: 16px;
}

.course-view-header h5 {
  opacity: 0.6;
  margin: 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #303031;
}

.course-view-header h2 {
  color: #303031;
}

.course-view-header p {
  color: #303031;
}

.btn-blueform {
  padding: 15px 10px;
  background-color: #71A894;
  color: white;
  text-decoration: white;
  width: 100%;
  border-radius: 10px;
}

.btn-blueform:hover {
  color: white;
}

.custom-fa {
  color: white;
}

.sub-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 60%;
}

@include forTabletPortraitUp {
  .course-view-left {
    width: 50%;
    position: absolute;
    height: 100%;
  }
  .course-view-header {
    width: 40%;
    right: 58%;
  }

  .btn-blueform {
    width: 45%;
  }
  .sub-elements {
    width: 60%;
  }
  .logo {
    width: 15%;
  }
}