@import "../../src/styles/application";

.top-article-card {
  color: white;
  display: block;
}

.top-article-card--image {
  width: 100%;
  height: 400px;
  background: no-repeat;
  background-size: cover;
}

.top-article-card--content {
  background-color: $customBlack;
  width: 90%;
  margin: -70px auto 0;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > * {
    margin: 10px 0;
  }
}

.top-article-card--content-cat {
  font-size: 16px;
}

.top-article-card--content-content {
  font-size: 18px;
}

.top-article-read-more-section {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.top-article-card--content-date {
  font-size: 14px;
}

.read-more-top {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

@include forTabletPortraitUp {
  .top-article-card {
    display: flex;
  }

  .top-article-card--image {
    width: 60%;
  }

  .top-article-card--content {
    width: 40%;
    margin: 0;
  }
}