@import "../../../../../src/styles/common/mixins";

.loader-card-article {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 300px;
}

.loader-card-article__medium {
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 300px;
}

.loader-card-article__small {
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 300px;
}

@include forTabletPortraitUp {
  .loader-card-article__medium {
    width: 48%;
  }
}
