@import "../../src/styles/application";

header{
  background-color: $customBlack;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
  z-index: 1;
  height: 80px;
}

nav{
  color: #FFF;
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;
}

#logo{
  padding: 1rem;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  width: 15%;
}

.links{
  display: flex;
  align-items: center;
  width: 21%;
}

.links a{
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.links a:hover{
  background-color: white;
  color: $customBlack;
  text-decoration: underline;
}

.right-links {
  width: 64%;
  display: flex;
  justify-content: flex-end;
}

#btnMenu{
  display: none;
}

.toggleMenu{
  font-size: 22px;
  display: none;
}

@include forPhoneOnly{
  #logo { width: 1000%;}
  .toggleMenu{
    display: block;
    margin-right: 1rem;
  }

  .links{
    position: fixed;
    background-color: $blackColor;
    min-height: calc(100vh - 51px);
    flex-flow: column;
    width: 100%;
    top: 51px;
    left: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .links a{
    width: 30%;
    text-align: center;
  }

  .links a:hover{
    background-color: #316eb3;
  }

  #btnMenu:checked ~ .links{
    left: 0;
  }
}