@import "../../../src/styles/application";

.course-view-left {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/4861362/pexels-photo-4861362.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.course-view-header {
  position: absolute;
  background-color: $customBlack;
  color: white;
  padding: 50px 30px;
  width: 90%;
  top: 35%;
  right: 8%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 15px 10px #008891;
}

@include forTabletPortraitUp {
  .course-view-left {
    width: 50%;
  }
  .course-view-header {
    width: 40%;
    right: 58%;
  }
}