$redColorLight: #F95951;
$redColor: #992E2E; // Professional
$blueColorLight: #2D9BF3;
$blueColor: #272F4C; // Applicant
$greenColorLight: #329664;
$greenColor: #64B3AE;
$whiteColorLight: #EDEDEA;
$whiteColor: #FFFFFF;
$greyColor: #E8E8E8;
$greyColorDark: #1C1210;
$blackColor: #2E2F30;
$orangeColor: #fba92b;
$yellowColor: #FECF62;
$customBlack: #0e1111;

$facebookColor: #3b5998;
$linkedInColor: #0077B5;

$subscriptionMiniColor: #56be8e;
$subscriptionMediumColor: #3ea9f5;
$subscriptionMasterColor: #3769cc;
$subscriptionStandardColor: #778899;
$subscriptionPremiumColor: #FFD700;
