@import "colors";

//////  < 599, 541-768, 1024-1199, 1200+ px
$breakPointPhoneOnly: 37.438em; // 599px
$breakPointTabletPortraitUp: 37.5em; // 600px
$breakPointTabletLandscapeUp: 56.250em; // 900px
$breakPointDeskTopUp: 75em; // 1200px

@mixin forPhoneOnly {
  @media (max-width: $breakPointPhoneOnly) {
    @content;
  }
}

@mixin forTabletPortraitUp {
  @media (min-width: $breakPointTabletPortraitUp) {
    @content;
  }
}

@mixin forTabletLandscapeUp {
  @media (min-width: $breakPointTabletLandscapeUp) {
    @content;
  }
}

@mixin forDeskTopUp {
  @media (min-width: $breakPointDeskTopUp) {
    @content;
  }
}

@mixin wrapContent($maxWidth: 1170px) {
  padding: 30px 15px;
  max-width: $maxWidth;
  margin: auto;
}

@mixin whiteHeader {
  width: 100%;
  background: white;
  padding: 8px 0;

  .search-form {
    border: 1px solid $greyColorDark;
    padding: 8px 10px;
  }

  .right-content {
    color: $greyColorDark;
  }

  .nav-container .right-content .nav-link {
    color: $greyColorDark;
  }

  .public-header-auth .public-header-auth-sign-in {
    color: $greyColorDark;
  }
}

@mixin contentWrapperFlex($paddingTopBottom: 40px, $maxWidth: 1170px) {
  padding: $paddingTopBottom 15px;
  max-width: $maxWidth;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin buttonAppearanceReset {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin absoluteHeader {
  .header {
    position: absolute;
    width: 100%;
    background-color: transparent;
  }

  .header--nav-link, .header--dropdown--button {
    color: $whiteColor;
  }

  .burger-menu--bar1, .burger-menu--bar2, .burger-menu--bar3 {
    background-color: $whiteColor;
  }
}