@import "../../../../../src/styles/common/mixins";
@import "../../../../../src/styles/common/colors";

.loader-card-user {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba($greyColorDark, .5);
  border-radius: 5px;
  overflow: hidden;
}