@import "../../../src/styles/application";

.comment-list-item {
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;

  .avatar-view-user {
    width: 48px;
    height: 48px;
  }

  .menu-actions {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
  }
}

.comment-list-item + .comment-list-item:before {
  border-bottom: 1px solid $greenColor;
  position: absolute;
  content: '';
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.comment-list-item--right-content {
  flex: .95;
}

.comment-list-item--author-name {
  color: $greenColor;
  font-size: 16px;
  font-weight: 600;
}

.comment-list-item--date {
  color: $greyColorDark;
  font-weight: 500;
}

.comment-list-item--body {
  margin-top: 10px;
  white-space: pre-line;
}